body, h1 {
  margin: 0;
}

.wrapper {
  border: dashed 1px red;
  width: 80%;
  margin: auto;
}

.header {
  border: dashed 1px red;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__mobile {
  display: none;
}

.header a {
  text-decoration: none;
  color: #000000;
}

.header a:hover {
  text-decoration: none;
  color: #000000;
  text-decoration: underline;
  text-decoration-color: #0056EC;
  text-decoration-style: solid;
}

.header__logo {
  padding: 40px 0;
}

.header__logo :hover {
  opacity: 0.6;
}

.nav__link {
  padding: 0 13px;
}

.nav__link:last-child {
  padding-right: 0;
}

.burger {
  display: none;
}

.section {
  border: dashed 1px red;
  display: flex;
  justify-content: space-between;
  margin-bottom: 133px;
}

.main {
  border: dashed 1px red;
  display: flex;
  flex-direction: column;
}

.main__title {
  font-family: PT Serif;
  font-style: normal;
  font-weight: bold;
  width: 567px;
  height: 255px;
  font-size: 66px;
  line-height: 87px;
  margin-bottom: 40px;
}

.colortext {
  background: #ECF3FF;
}

.main__text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  width: 455px;
  height: 52px;
  margin-bottom: 41px;
}

.main__button {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  width: 270.75px;
  height: 57px;
  font-size: 18px;
  line-height: 21px;
  border-radius: 4px;
  color: #FFFFFF;
  background: #0056EC;
}

.main__button:hover {
  opacity: 0.6;
}

/* .frame__img {
  width: fit-content;
} */

.footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 40px;
}

/* @media */

@media (max-width: 1366px) {
  body {
    width: calc(100% - 100px);
  }
  .header__logo {
    margin-bottom: 140px;
  }
  .nav {
    font-size: 14px;
    line-height: 16px;
  }
  .main__title {
    width: 400px;
    font-size: 50px;
    line-height: 66px;
    display: flex;
    align-items: center;
  }
  .main__text {
    font-weight: 500;
    width: 367px;
    height: 43px;
    font-size: 18px;
    line-height: 21px;
  }
  .main__button {
    width: 209px;
    height: 44px;
    font-size: 14px;
    line-height: 16px;
  }
  .frame {
    width: 514px;
    margin-bottom: 88px;
  }
}

@media (max-width: 1024px) {
  body {
    width: calc(100% - 93px);
  }
}

/* mobile */

@media (max-width: 900px) {
  body {
    width: calc(100% - 48px);
    max-width: 380px;
    min-width: 265px;
    height: 667px;
    margin-bottom: 0;
  }
  .header {
    margin-top: 24px;
  }
  .nav__link {
    display: none;
  }
  .header__logo {
    display: none;
  }
  .footer {
    display: none;
  }
  .header__mobile {
    display: block;
  }
  .header__mobile:hover {
    opacity: 0.6;
  }
  .burger {
    display: block;
    margin-bottom: 28px;
  }
  .burger:hover {
    opacity: 0.6;
  }
  .section {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  .frame {
    display: contents;
    margin-bottom: 0;
  }
  .frame__img {
    width: 90%;
    height: 90%;
  }
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .main__title {
    width: 267px;
    height: 96px;
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 44px;
  }
  .main__text {
    width: 258px;
    height: 57px;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    text-align: center;
    margin-bottom: 25px;
  }
  /* mobile menu */
  .body_mobile {
    width: calc(100% - 56px);
    margin: 0;
    position: relative;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
  }
  .mobile {
    display: flex;
    flex-direction: column;
    margin: auto;
    min-width: 205px;
    max-width: 385px;
    margin-top: 24px;
  }
  .cross {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 25%;
  }
  .cross:hover {
    opacity: .6;
  }
  .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .menu__link {
    height: 36px;
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 24px;
  }
  .menu__link:last-child {
    margin-bottom: 0px;
  }
  .menu a {
    text-decoration: none;
    color: #000000;
  }
}