/* 1920px */

body, h1, p {
  margin: 0;
}

.wrapper {
  width: 80%;
  height: 100vh;
  margin: auto;
}

.header {
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}

.header__logo {
  position: relative;
  font: 700 24px/32px pt_serif;
  padding-left: 44px;
  cursor: pointer;
  transition: opacity .5s;
}

.header__logo_circle {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 28px;
  height: 28px;
  border-radius: 50%;
  opacity: .7;
}

.header__logo_circle_dark {
  background: #0056EC;
}

.header__logo_circle_blue {
  left: 8px;
  top: 56%;
  background: #C8DBFB;
}

.burger {
  display: none;
}

.nav__link {
  position: relative;
  margin-right: 26px;
  font: 600 18px/21px roboto;
  text-decoration: none;
  color: #000;
}

.nav__link:last-child {
  margin-right: 0;
}

/* Underline effect on navigation */

.nav__link::after {
  position: absolute;
  display: block;
  content: '';
  width: 100%;
  height: 3px;
  left: 0;
  background: #0056EC;
  opacity: 0;
  transition: opacity .3s, width .3s;
}

.nav__link:hover {
  opacity: .6;
}

.nav__link:hover:after, .nav__link_active::after {
  opacity: 1;
  width: 100%;
}

.section {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.main {
  padding-right: 63%;
  background: top right no-repeat url(img/frame.svg);
  background-size: 58%;
}

.main__title {
  margin: 0 0 40px 0;
  font: bold 66px/88px pt_serif;
  width: 480px;
}

.main__title-text_highlight {
  background: #ECF3FF;
}

.main__text {
  width: 455px;
  margin: 0 0 41px 0;
  font: normal 22px/26px roboto;
}

.main__button {
  display: inline-block;
  text-align: center;
  width: 271px;
  font: 500 18px/21px roboto;
  padding: 14px 16px;
  border-radius: 4px;
  color: #FFF;
  background: #0056EC;
  transition: opacity .5s;
}

.main__button:hover {
  opacity: 0.5;
  cursor: pointer;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 40px;
}

/* @media */

@media (max-width: 1367px) {
  .nav__link {
    font: 600 14px/16px roboto;
  }
  .main__title {
    font: bold 50px/66px pt_serif;
    width: 450px;
  }
  .main__text {
    font: normal 18px/21px roboto;
    width: 440px;
  }
  .main__button {
    font: 500 14px/16px roboto;
  }
}

@media (max-width: 1170px) {}

/* mobile */

@media (max-width:950px) {
  .wrapper {
    width: 375px;
  }
  .header {
    display: flex;
    margin-bottom: 28px;
    padding: 24px 24px;
  }
  .header__logo .header__logo_shadow {
    display: none;
  }
  .section {
    display: inline-block;
  }
  .nav__link {
    display: none;
  }
  .burger {
    display: block;
    width: 25px;
    height: 17px;
  }
  .main {
    padding: 74% 0 0;
    background-size: 74%;
    background-position: top center;
    align-items: center;
    text-align: center;
  }
  .main__title {
    margin-bottom: 44px;
    font: bold 30px/40px pt_serif;
    width: 267px;
  }
  .main__text {
    margin-bottom: 44px;
    font: normal 16px/19px roboto;
    width: 275px;
  }
  .main__button {
    font: 500 14px/16px roboto;
    width: 209px;
  }
}